include:
  - local: '.gitlab-ci-template.yml'
  - project: clops/gitlab-ci-pop-analysis
    ref: master
    file: pop_analysis.yaml
  - project: releng/common-gitlab-ci
    ref: master
    file: sbom-generate.yml

# List of job stages in their order of execution.
stages:
  - build
  - coverage_report
  - analysis
  - sbom
  - notification

variables:
  BUILD_TOOL: npm
  GIT_DEPTH: 10
  BD_PRODUCT_GROUP: PolarisNG Projects Group

##### MERGE REQUEST PIPELINE #####

build_unit_test_job:
  extends:
    - .build_unit_tests
  stage: build

code_coverage_job:
  stage: coverage_report
  extends:
    -  .code_coverage


#check_dist_job:
#  extends:
#    - .check_dist
#  stage: Check_dist

generate_sbom:
  extends:
    - .run_sbom_generation
  stage: sbom
  variables:
    ARTIFACTORY_UPLOAD_REPO: 1
    SBOM_ART_TOKEN_VAULT_PATH: sbom/integrations/synopsys-extension-ci-cd
    PRODUCT: synopsys-extension-ci-cd
    GENERATE_CONFIGURATION_FILE: 1
    GENERATION_OPTIONS: "--entry integrations/mirrored-repos/synopsys-extension-ci-cd:synopsys-extension-ci-cd-$CI_COMMIT_REF_NAME --provide-zip --output-zipfile Synopsys-CICD-extension.zip"
  only:
    refs:
      - main

pop_polaris:
  image: gcr.io/snps-polaris-ops-prod/ember_cli:3.28.5-node_16.14


polaris_bridge:
  stage: analysis
  extends: .polaris_bridge

new_pop_blackduck:
  stage: analysis
  variables:
    POP_BLACKDUCK_INPROGRESS: 1
  extends: .new_pop_blackduck_analysis
  dependencies:
    - build_unit_test_job