include:
  - local: '.gitlab-ci-template.yml'
  - project: clops/gitlab-ci-pop-analysis
    ref: master
    file: pop_analysis.yaml
  - project: releng/common-gitlab-ci
    ref: master
    file: sbom-generate.yml
  - project: altair/altair-build-common
    ref: master
    file: gitlab/ci/altair_versioning.yml
  - project: altair/altair-build-common
    ref: master
    file: gitlab/ci/altair_common.yml
  - project: qa-automation/test-integrations
    ref: main
    file: _ci/e2e_azure.yml
  

# List of job stages in their order of execution.
stages:
  - build
  - unit_coverage
  - versioning
  - analysis
  - sbom
  - e2e-publish
  - e2e-setup
  - e2e
  - e2e-cleanup
  - notification

variables:
  BUILD_TOOL: npm
  GIT_DEPTH: 10
  BD_PRODUCT_GROUP: PolarisNG Projects Group
  BD_VERSION_PHASE: DEVELOPMENT
  PUBLISHER_ID: E2Etest
  ORG_NAME : centralintegrations
  TESTNG_FAILED_XML: test-output/testng-failed.xml
  DISABLE_POLARIS_CLASSIC_ANALYSIS: "true"


##### MERGE REQUEST PIPELINE #####

build_job:
  extends:
    - .build
  stage: build

unit_test_job:
  stage: unit_coverage
  extends:
    -  .unit_test
  dependencies: [build_job]

code_coverage_job:
  stage: unit_coverage
  extends:
    -  .code_coverage
  dependencies: [unit_test_job]

code_coverage_job:
  stage: coverage_report
  extends:
    -  .code_coverage

#check_dist_job:
#  extends:
#    - .check_dist
#  stage: Check_dist


.export_sbom_variables:
  before_script:
    - export EXT_VERSION=$(cat vss-extension.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')
    - export ARTIFACTORY_UPLOAD_REPO=1
    - export SBOM_ART_TOKEN_VAULT_PATH=sbom/integrations/synopsys-extension-ci-cd
    - export PRODUCT=Integrations
    - export GENERATE_CONFIGURATION_FILE=1
    - export PRODUCT_ADDON_SBOM_OPTIONS="--output-zipfile synopsys-extension-ci-cd-$EXT_VERSION.zip --debug"
    - export GENERATION_OPTIONS="--entry integrations/mirrored-repos/synopsys-extension-ci-cd:synopsys-extension-ci-cd-$EXT_VERSION"

generate_sbom:
  extends:
    - .export_sbom_variables
    - .run_sbom_generation
  stage: sbom
  only:
    refs:
      - main

polaris_bridge:
  stage: analysis
  extends: .polaris_bridge

pop_blackduck:
  image: us-docker.pkg.dev/cloudops-artifacts-prd/polaris/ember_cli:3.28.5-node_16.14
  variables:
    POP_BLACKDUCK_INPROGRESS: 1
  extends:
    - .new_pop_blackduck
  before_script:
    - |
      apt-get update -y
      apt-get install -y rsync make jq python3 python3-pip
      pip3 install blackduck requests
      export RELEASE_VERSION=$(cat vss-extension.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')

e2e-publish:
  stage: e2e-publish
  tags:
    - linux
  extends: .extension-publish

e2e-setup:
  stage: e2e-setup
  dependencies: [e2e-publish]
  tags:
    - linux
  extends: .e2e-setup

e2e-linux:
  stage: e2e
  dependencies: [e2e-publish,e2e-setup]
  tags:
    - linux
  extends: .e2e-extension
  variables:
    XML_PATH_IN_JAR: $XML
    RUNNER_NAME: "Linux"
    RUNNER_OS: "Linux"

e2e-mac:
  stage: e2e
  dependencies: [e2e-publish,e2e-setup]
  tags:
    - linux
  extends: .e2e-extension
  variables:
    XML_PATH_IN_JAR: $XML
    RUNNER_NAME: "Darwin"
    RUNNER_OS: "Mac"

e2e-windows:
  stage: e2e
  dependencies: [e2e-publish,e2e-setup]
  tags:
    - linux
  extends: .e2e-extension
  variables:
    XML_PATH_IN_JAR: $XML
    RUNNER_NAME: "Windows_NT"
    RUNNER_OS: "Windows"

e2e-clean-up:
  stage: e2e-cleanup
  dependencies: [e2e-publish,e2e-setup,e2e-linux,e2e-mac,e2e-windows]
  tags:
    - linux
  extends: .e2e-clean-up
  rules:
    - when: always
