/.idea/
/synopsys-security-scan/node_modules/
/synopsys-security-scan/lib/
/synopsys-security-scan/.bridge/
/synopsys-security-scan/.taskkey
/synopsys-security-scan/coverity_input.json
/synopsys-security-scan/.nyc_output/
/synopsys-security-scan/coverage//
.DS_Store
*.synopsys-extension-*.vsix
/synopsys-task/coverage/